@model PrateEX.Models.Pirate

@{
    ViewBag.Title = "PirateDetail";
}

<h2>PirateDetail</h2>

<div>
    <h4>Pirate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPirate", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ShowPirates")
</p>
